/*******************************************************************************
 *                                                                             *
 * InsetToggleSwitch                                                           *
 *                                                                             *
 ******************************************************************************/
.inset-toggle-switch {
    -thumb-move-animation-time: 200;
    
    -color-window-background: #f4f4f6;
    -color-thumb: #fafafa;
    -color-thumb-area: #989899;
    -color-thumb-area-selected: #7ab7fa;
    -color-thumb-selected: #007bff;
    -color-label-text: #202020;
    -color-text: #1f1f1f;
}

.inset-toggle-switch .label {
    -fx-font-size: 1em;
    -fx-text-fill: -color-label-text;
    -fx-padding: 0 0 0 4;
}

.inset-toggle-switch .thumb {
    -fx-background-color: -color-thumb;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.75em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 1, 0.1, 0.0, 1.0);
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.inset-toggle-switch .thumb-area {
    -fx-background-radius: 1em;
    -fx-background-color: -color-thumb-area, -color-thumb-area-selected;
    -fx-background-insets: 0, 0 16 0 0;
}

.inset-toggle-switch:hover { -fx-cursor: hand; }

.inset-toggle-switch:selected .thumb-area {
    -fx-background-color: -color-thumb-area-selected, -color-thumb-area;
    -fx-background-insets: 0, 0 0 0 20;
}
.inset-toggle-switch:selected .thumb { -fx-background-color: -color-thumb-selected; }

.inset-toggle-switch .thumb-area { -fx-padding: 0.5em 1.333333em 0.5em 1.333333em; }

.inset-toggle-switch:disabled { -fx-opacity: 0.6; }
.inset-toggle-switch:disabled .thumb { -fx-background-color: -color-thumb; }
.inset-toggle-switch:disabled .thumb-area { -fx-background-color: -color-thumb-area; }

