/*******************************************************************************
 *                                                                            *
 * FillButton                                                                 *
 *                                                                            *
 * Fillable Attributes:                                                       *
 * -fill-enabled: <boolean>                                                   *
 * -fill-on-focus: <boolean>                                                  *
 * -fill-duration: <Duration>                                                 *
 * -fill-text-from: <Color | FillSpan Special Identifier>                     *
 * -fill-text-to: <Color | FillSpan Special Identifier>                       *
 *                                                                            *
 ******************************************************************************/
.fill-button {
    -fx-background-color: #dfdfdf;
    -fx-background-insets:  0;
    -fx-background-radius: 4;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-font-size: 1em;
    -fx-text-fill: #1f1f1f;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    
    -fill-bg-to: #a0a0a0;
}

.fill-button:selected {
    -fx-background-color: #abc;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
}