/******************************************************************************
 *                                                                            *
 * TopPromptTextField                                                         *
 *                                                                            *
 ******************************************************************************/

.top-prompt-text-field {
	-prompt-transition-duration: 200.0;
	-prompt-translate-x: -4.0;
	-prompt-translate-y: 0.0;
	-prompt-scale-x: 0.9;
	-prompt-scale-y: 0.9;
	
	/* TopPromptTextField colors */
	-color-window-background: #f4f4f6;
    -color-textfield-text: #1f1f1f;
    -color-textfield-background-focus: #ececee;
    -color-textfield-invalid-red: #f44336;
    -color-textfield-border: #8e8e8f;
    -color-textfield-border-hover: #202020;
    -color-prompt-text: #70787d;
    -color-prompt-settled: #096bd4;
    -color-default-text: #70787d;
    -color-underline: #007bff;
    -color-disabled-text: #b7bbbe;
    
	-prompt-text-color: -color-prompt-text;
	-textfield-text-color: -color-textfield-text;
	-default-text-color: -color-default-text;
}

.top-prompt-text-field .prompt-pane .prompt {
	-fx-text-fill: -prompt-text-color;
	-fx-font-size: 1em;
}

.top-prompt-text-field:settled .prompt-pane .prompt {
    -prompt-text-color: -color-prompt-text;
}

.top-prompt-text-field:focused .prompt-pane .prompt,
.top-prompt-text-field:settled:focused .prompt-pane .prompt {
    -prompt-text-color: -color-prompt-settled;
}

.top-prompt-text-field .text-field {
    -fx-text-fill: -textfield-text-color;
    -fx-font-size: 1em;
    -fx-prompt-text-fill: -color-prompt-text;
    -fx-insets: 0;
    -fx-padding: 8 0 4 0;
    -fx-background-color: -color-textfield-border, -color-window-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.top-prompt-text-field .text-field:hover {
    -fx-background-color: -color-textfield-border-hover, -color-window-background;
    -fx-background-insets: 0, 0 0 2 0;
}

.top-prompt-text-field:settled .text-field:focused {
    -prompt-text-color: -color-prompt-settled;
    -fx-background-color: -color-textfield-border-hover, -color-textfield-background-focus;
    -fx-background-insets: 0, 0 0 2 0;
}

.top-prompt-text-field .text-field:focused, 
.top-prompt-text-field .text-field:text-field-has-focus {
    -fx-prompt-text-fill: transparent;
}

.top-prompt-text-field:focused:not-editable,
.top-prompt-text-field:not-editable .text-field:focused,
.top-prompt-text-field:not-editable .text-field:hover {
	-fx-background-color: -color-textfield-border, -color-window-background;
    -fx-backround-insets: 0, 0 0 2 0;
}

.top-prompt-text-field:not-editable .text-field:focused,
.top-prompt-text-field:not-editable .text-field:hover {
    -fx-cursor: default;
}

.top-prompt-text-field .default-pane .default-stub,
.top-prompt-text-field .default-pane .default-text {
    -fx-text-fill: -default-text-color;
    -fx-font-size: 0.8em;
    -fx-padding: 4 0 10 0;
}

.top-prompt-text-field .underline {
    -fx-stroke: -color-underline;
    -fx-stroke-width: 2;
}

.top-prompt-text-field:disabled {
	-textfield-text-color: -color-disabled-text;
}

.top-prompt-text-field:disabled .text-field { 
	-fx-background-color: -color-window-background;
	-fx-background-insets: 0;
	-fx-border-style: hidden hidden dotted hidden;
	-fx-border-width: 0 0 2 0;
}



